{{- $email := promptStringOnce . "email" "Git email for this machine" -}}

sourceDir = "{{ .chezmoi.homeDir }}/Code/dotfiles"

[data]
    email = {{ $email | quote }}

[git]
    autoCommit = false
    autoPush = false
